# jupyter lab
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environments
venv/
.venv/
env/
instance/

# Environment Variables
.env

# SQLite Databases
*.db
*.sqlite3

# Flask Instance
instance/

# macOS
.DS_Store

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Logs
*.log
